*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	
}

body{
	min-height: 100vh;
	font-family: Arial, Sans-Serif;
	background: linear-gradient(to right , rgb(50,50,50), rgb(128,128,128), rgb(50,50,50));
	text-align: center;
	align-items: center;
	margin: 20px;
	
}

header{
	background: linear-gradient(to bottom, rgb(211,175,55), rgba(211,175,55, 0.3));
}

section{
	background: gray;
	height: 100vh;
	width: 200px;
	margin: auto;
	
	
}