*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	
}

body{
	min-height: 100vh;
	font-family: Arial, Sans-Serif;
	background: linear-gradient(to right , rgb(50,50,50), rgb(128,128,128), rgb(200,200,200));
	text-align: center;
	align-items: center;
}

header{
	background: linear-gradient(to bottom, rgb(50,50,50));
}